.needs-lists-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.needs-lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.add-needs-button {
  background-color: #6ec57b;
  color: white;
  height: 55px;
  width: 55px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #d9d9d9;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  color: black;
}

.top-modal-buttons {
  border-bottom: 2px solid black;
  padding: 0 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  
}

.delete-button {
  all: unset;
  cursor: pointer;
}

.close-button {
  all: unset;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-container {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-content-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 20px;
}

.modal-content-title {
  text-align: center;
  
}

.modal-content-left,
.modal-content-right {
  width: 50%;
  padding: 0 10px;
}

.modal-content-right {
 display: flex;
  flex-direction: column;
}

.budget-container, .actual-container, .need-container, .description-container {
  position: relative;
}

.need-name-text, .need-description-text, .modal-text {
  color: black;
  background-color: #D9D9D9;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #7CD689;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  margin-bottom: 1rem;
  resize: none;
}

.need-name-label {
  color: rgb(110, 110, 110);
  position: absolute;
  left: 10px;
  top: 7px;
  background-color: #D9D9D9;
  transition: ease-in-out 0.3s;
  pointer-events: none;
}

.need-name-text:not(:placeholder-shown) + .need-name-label,
.need-name-text:focus + .need-name-label {
    top: -10px;
    font-size: 0.8rem;
    background-color: #D9D9D9;
    color: #7CD689;
}

.need-description-label {
  color: rgb(110, 110, 110);
  position: absolute;
  left: 10px;
  top: 7px;
  background-color: #D9D9D9;
  transition: ease-in-out 0.3s;
  pointer-events: none;
}

.need-description-text:not(:placeholder-shown) + .need-description-label,
.need-description-text:focus + .need-description-label {
    top: -10px;
    font-size: 0.8rem;
    background-color: #D9D9D9;
    color: #7CD689;
}

.budget-text, .actual-text {
  color: black;
  background-color: #D9D9D9;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #7CD689;
  width: 100%;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 1rem;
}

.budget-value-label {
  color: rgb(110, 110, 110);
  position: absolute;
  left: 10px;
  top: 7px;
  background-color: #D9D9D9;
  transition: ease-in-out 0.3s;
  pointer-events: none;
}

.budget-text:not(:placeholder-shown) + .budget-value-label,
.budget-text:focus + .budget-value-label {
    top: -10px;
    font-size: 0.8rem;
    background-color: #D9D9D9;
    color: #7CD689;
}

.actual-value-label {
  color: rgb(110, 110, 110);
  position: absolute;
  left: 10px;
  top: 7px;
  background-color: #D9D9D9;
  transition: ease-in-out 0.3s;
  pointer-events: none;
}

.actual-text:not(:placeholder-shown) + .actual-value-label,
.actual-text:focus + .actual-value-label {
    top: -10px;
    font-size: 0.8rem;
    background-color: #D9D9D9;
    color: #7CD689;
}

.submit-button-container {
  width: 100%;
  color: white;
  background-color: #7cd689;
  text-align: center;
  border-radius: 5px;
  margin-top: 30px;
}

.add-needs-list {
  all: unset;
  width: 100%;
}

/* needs list part */

.needs-item {
  all: unset;
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #7cd689;
  height: 50;
  position: inherit;
}

.list-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-right {
  text-align: right;
  justify-content: flex-end;
  gap: 1rem;
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  .needs-lists-container {
    width: 50vw;
  }
}