.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7CD689;
    padding: 0 2rem;
}

.date {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #7CD689;
        padding: 0 2rem;
    }

    .header h2 {
        width: 60%;
        text-wrap: nowrap;
    }

    .date {
        width: 40%;
    }
}